body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.file-manager {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.path-bar {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.file-list {
    list-style: none;
    padding: 0;
}

.file-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.file-list li:last-child {
    border-bottom: none;
}

.file-list li svg {
    margin-right: 10px;
}

.file-list li span {
    cursor: pointer;
    color: #333;
}

.file-list li span:hover {
    text-decoration: underline;
}

.file-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.file-list li:hover {
    background-color: #f0f0f0;
}

.file-list a {
    color: #000000;
    text-decoration: none;
    border: none !important;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    border: 1px solid #a7a7a7;
    background-color: #f0f0f03b;
    border-radius: 4px;
}

.svg{
    width: 26px;
    height: 26px;
    margin-right: 6px;
}

.imgfile{
    width: 100%;
}

pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    overflow-x: auto;
    font-size: 0.9em;
}

pre.code-with-linenumbers {
    position: relative;
    padding-left: 3em;
    counter-reset: linenumber;
}

pre.code-with-linenumbers code {
    display: block;
}

pre.code-with-linenumbers code span.line {
    counter-increment: linenumber;
}

pre.code-with-linenumbers code span.line::before {
    content: counter(linenumber);
    position: absolute;
    left: 0;
    width: 2em;
    text-align: right;
    padding-right: 0.5em;
    color: #888;
    border-right: 1px solid #ccc;
}

code {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    padding: 2px 4px;
    border-radius: 3px;
}